<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<ul class="cart">
   <h1>My Cart</h1> 
    <%if(user.cart.length==0){%>
      <div class="empty-card-main">
        <div class="empty-card">
            <div class="empty-cart-content">
                <h3>Your cart is empty</h3>
            <p>There are no items in your cart. Let’s add something</p>
            <div class="cart-btn-main">
                <div class="cart-btn-empty"><a href="#">CONTINUE SHOPPING</a></div>

            </div>
            </div>
            
        </div>
      </div>
        
    <%}%>
    <!-- <%for(let item of user.cart){%>
        <div class="filled-cart">
            <div>
                <h1> <li><%=item.name%></li></h1>
                <div><img src="<%=item.image%>" alt=""></div>
                <li><%=item.price%></li>
            </div>
        </div>   
    <%}%> -->





    <div class="cart-container">
        <% for (let item of user.cart) { %>
          <div class="filled-cart-main">
            <!-- Your item content here -->
            
            <div><img src="<%=item.image%>" alt="" style="width: 300px;height: 400px;"></div>
            <div class="cart-detail">
                <div>
                    <li style="justify-content: center;"><%=item.name%></li>
                    <li style="justify-content: center;"><%=item.price%></li>
                    <div class="cart-btn abcd"><a href="/product/payment"><b style="color: black;">BUY</b></a> </div>
                    <form class="d-inline-block" action="/user/<%=item._id%>?_method=delete" method="post">
                      <button class="btn btn-sm btn-danger abcd">Remove</button>
                    </form>
        
                </div>
               
            </div>
            
          </div>
        <% } %>
      </div>
      
</ul>
<%- include('../partials/footer') %>