<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar') %>
    <style>
        hr {
            color: grey;
        }
        button a{
            color: black;
        }
        a:hover {
            color: white;
        }
    </style>
<body style="background-color: #fffbf2;">
    <h2 style="padding: 5px;margin-top: 5px;">Home/Accessories</h2>
        <div class="row" style="display: flex;width: 100%; padding: 40px;">
            <%for(let item of result){%>

                <div class="card" style="width: 18rem; border: 1px solid #faf1dd ;margin:10px; padding: 10px;">
                    <img class="card-img-top" src="<%=item.image%>" alt="Card image cap"
                        style="width: 267px; height: 267px; border-radius: 5px;">
                    <div class="card-body">
                        <h2 class="card-title">
                            <%=item.name%>
                        </h2>
                        <h3>₹ <%=item.price%>
                        </h3>
                        <p class="card-text">
                            <%=item.desc%>
                        </p>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-dark"> <a href="/products/<%=item._id%>"
                                style="text-decoration: none;">View Product</a></button>
                    </div> 
                    <%if(currentUser && currentUser.role==='seller' ){%>
                        <form action="/products/<%=item._id%>?_method=delete" method="post">
                            <button class="abcd">Delete</button>
                            </form>
                    <%}%>
                </div>
                <%}%>
        </div>

        <br>  
    <%- include('../partials/footer') %>
</body>